src/main/resources/FIRMA-IFTI-DRA-1-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://austrac.gov.au/schema/reporting/IFTI-DRA-1-2"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:d="http://docbook.org/ns/docbook"
           targetNamespace="http://austrac.gov.au/schema/reporting/IFTI-DRA-1-2"
           elementFormDefault="qualified"
           xml:lang="en">
   <xs:annotation>
      <xs:documentation source="titlePage">
         <d:title>Electronic report file format specification – 
        international funds transfer instruction under a
        designated remittance arrangement</d:title>
         <d:author>
            <d:orgname>Australian Transaction Reports and Analysis Centre (AUSTRAC)</d:orgname>
            <d:uri>http://www.austrac.gov.au/</d:uri>
         </d:author>
         <d:revhistory>
            <d:revision>
               <d:revnumber>1.2</d:revnumber>
               <d:date>July 2010</d:date>
            </d:revision>
         </d:revhistory>
         <d:copyright>
            <d:year>2010</d:year>
            <d:holder>Australian Transaction Reports and Analysis Centre (AUSTRAC)</d:holder>
         </d:copyright>
         <d:keywordset>
            <d:keyword>AUSTRAC</d:keyword>
            <d:keyword>IFTI-DRA</d:keyword>
            <d:keyword>International funds transfer instruction under a designated remittance arrangement</d:keyword>
            <d:keyword>Report file format</d:keyword>
            <d:keyword>User guide</d:keyword>
            <d:keyword>Schema reference</d:keyword>
            <d:keyword>XSD reference</d:keyword>
         </d:keywordset>
      </xs:documentation>
   </xs:annotation>
   <xs:element name="ifti-draList">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="reNumber" type="RENumber"/>
            <xs:element name="fileName" type="IFTIDRAFileName"/>
            <xs:element name="reportCount" type="ReportCount"/>
            <xs:element ref="ifti-dra" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ifti-dra">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="header" minOccurs="0"/>
            <xs:element ref="transaction"/>
            <xs:element ref="transferor" maxOccurs="unbounded"/>
            <xs:element ref="orderingInstn"/>
            <xs:element ref="initiatingInstn" minOccurs="0"/>
            <xs:element ref="sendingInstn"/>
            <xs:element ref="receivingInstn"/>
            <xs:element ref="beneficiaryInstn"/>
            <xs:element ref="beneficiaryBranch" minOccurs="0"/>
            <xs:element ref="transferee" maxOccurs="unbounded"/>
            <xs:element ref="additionalDetails" minOccurs="0"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="header">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="txnRefNo" type="TRN" minOccurs="0"/>
			<xs:element name="interceptFlag" type="xs:token" fixed="Y" minOccurs="0"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="transaction">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="txnDate" type="AUSTRACDate" minOccurs="1"/>
            <xs:element name="currencyAmount" type="CurrencyAmount" minOccurs="1"/>
            <xs:element name="direction" type="Direction" minOccurs="1"/>
            <xs:element name="tfrType" type="TfrType" minOccurs="1"/>
            <xs:element name="valueDate" type="AUSTRACDate" minOccurs="0"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="transferor">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="fullName" type="Name" minOccurs="1"/>
            <xs:element name="altName" type="Name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="mainAddress" type="Address" minOccurs="1"/>
            <xs:element name="postalAddress" type="Address" minOccurs="0"/>
            <xs:element name="phone" type="PhoneNum" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="email" type="Email" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="indOcc" type="IndustryOccupation" minOccurs="0"/>
            <xs:element name="abn" type="ABN" minOccurs="0"/>
            <xs:element name="acn" type="ACN" minOccurs="0"/>
            <xs:element name="arbn" type="ARBN" minOccurs="0"/>
            <xs:element name="custNo" type="CustNumber" minOccurs="1"/>
            <xs:element name="acctNumber" type="AcctNumber" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="businessStruct" type="BusinessStructure" minOccurs="0"/>
            <xs:element name="dob" type="DateOfBirth" minOccurs="0"/>
            <xs:element name="identification" type="IdentificationNoCountry" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="electDataSrc" type="ElectronicDataSource" minOccurs="0"
                        maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="orderingInstn">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="branch" type="BranchOptCountryFirma" minOccurs="0"/>
            <xs:element name="foreignBased" type="YesNo" minOccurs="1"/>
            <xs:element name="altName" type="Name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="postalAddress" type="Address" minOccurs="0"/>
            <xs:element name="phone" type="PhoneNum" minOccurs="0"/>
            <xs:element name="email" type="Email" minOccurs="0"/>
            <xs:element name="indOcc" type="IndustryOccupation" minOccurs="0"/>
            <xs:element name="businessStruct" type="BusinessStructure" minOccurs="0"/>
            <xs:element name="dob" type="DateOfBirth" minOccurs="0"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="initiatingInstn">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="sameAsOrderingInstn" fixed="Y" type="xs:token" minOccurs="1"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="sendingInstn">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="sameAsOrderingInstn" fixed="Y" type="xs:token" minOccurs="1"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="receivingInstn">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="fullName" type="Name" minOccurs="1"/>
            <xs:element name="mainAddress" type="Address" minOccurs="1"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="beneficiaryInstn">
      <xs:complexType>
         <xs:choice>
            <xs:element name="sameAsReceivingInstn" fixed="Y" type="xs:token"/>
            <xs:sequence>
               <xs:element name="fullName" type="Name" minOccurs="1"/>
               <xs:element name="mainAddress" type="AddressBeneficiaryInstAndTransferee" minOccurs="1"/>
            </xs:sequence>
         </xs:choice>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="beneficiaryBranch">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="branch" type="BranchOptCountry"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="transferee">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="fullName" type="Name"/>
            <xs:element name="altName" type="Name" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="mainAddress" type="AddressBeneficiaryInstAndTransferee" minOccurs="1"/>
            <xs:element name="postalAddress" type="AddressBeneficiaryInstAndTransferee" minOccurs="0"/>
            <xs:element name="phone" type="PhoneNum" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="email" type="Email" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="indOcc" type="IndustryOccupation" minOccurs="0"/>
            <xs:element name="abn" type="ABN" minOccurs="0"/>
            <xs:element name="acn" type="ACN" minOccurs="0"/>
            <xs:element name="arbn" type="ARBN" minOccurs="0"/>
            <xs:element name="account" type="InstitutionWithAccount" minOccurs="1"
                        maxOccurs="unbounded"/>
            <xs:element name="businessStruct" type="BusinessStructure" minOccurs="0"/>
            <xs:element name="dob" type="DateOfBirth" minOccurs="0"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:element name="additionalDetails">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="reasonForTransfer" type="ReasonForTransfer"/>
         </xs:sequence>
         <xs:attributeGroup ref="RequiredAttrs"/>
      </xs:complexType>
   </xs:element>
   <xs:attributeGroup xmlns:xhtml="http://www.w3.org/1999/xhtml" name="RequiredAttrs">
      <xs:attribute name="id" type="xs:ID" use="required"/>
   </xs:attributeGroup>
   <xs:attributeGroup xmlns:xhtml="http://www.w3.org/1999/xhtml" name="OptionalAttrs">
      <xs:attribute name="id" type="xs:ID"/>
   </xs:attributeGroup>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="RENumber">
      <xs:restriction base="xs:token">
         <xs:pattern value="[0-9]{1,7}"/>
		 <xs:enumeration value="24497"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IFTIDRAFileName">
      <xs:restriction base="xs:token">
         <xs:pattern value="[iI][fF][tT][iI]\-[dD][rR][aA]20[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])[0-9][0-9]\.[xX][mM][lL]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IFTIEFileName">
      <xs:restriction base="xs:token">
         <xs:pattern value="[iI][fF][tT][iI]\-[eE]20[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])[0-9][0-9]\.[xX][mM][lL]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="SMRFileName">
      <xs:restriction base="xs:token">
         <xs:pattern value="[sS][mM][rR]20[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])[0-9][0-9]\.[xX][mM][lL]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="TTRFBSFileName">
      <xs:restriction base="xs:token">
         <xs:pattern value="[tT][tT][rR]\-[fF][bB][sS]20[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])[0-9][0-9]\.[xX][mM][lL]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="TTRGSFileName">
      <xs:restriction base="xs:token">
         <xs:pattern value="[tT][tT][rR]\-[gG][sS]20[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])[0-9][0-9]\.[xX][mM][lL]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="TTRISIFileName">
      <xs:restriction base="xs:token">
         <xs:pattern value="[tT][tT][rR]\-[iI][sS][iI]20[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])[0-9][0-9]\.[xX][mM][lL]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="TTRMSBFileName">
      <xs:restriction base="xs:token">
         <xs:pattern value="[tT][tT][rR]\-[mM][sS][bB]20[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])[0-9][0-9]\.[xX][mM][lL]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="ReportCount">
      <xs:restriction base="xs:positiveInteger">
         <xs:totalDigits value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="ReportType">
      <xs:restriction base="xs:token">
         <xs:enumeration value="IFTI-E"/>
         <xs:enumeration value="IFTI-DRA"/>
         <xs:enumeration value="TTR-MSB"/>
         <xs:enumeration value="TTR-GS"/>
         <xs:enumeration value="TTR-ISI"/>
         <xs:enumeration value="TTR-FBS"/>
         <xs:enumeration value="SMR"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Name">
      <xs:restriction base="xs:string">
	     <xs:minLength value="1"/>
         <xs:maxLength value="140"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="NameType">
      <xs:restriction base="xs:token">
         <xs:enumeration value="M"/>
         <xs:enumeration value="A"/>
         <xs:enumeration value="T"/>
         <xs:enumeration value="S"/>
         <xs:enumeration value="B"/>
         <xs:enumeration value="H"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AddrType">
      <xs:restriction base="xs:token">
         <xs:enumeration value="M"/>
         <xs:enumeration value="P"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Addr">
      <xs:restriction base="xs:string">
		 <xs:minLength value="1"/>
         <xs:maxLength value="140"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Suburb">
      <xs:restriction base="xs:token">
		 <xs:minLength value="1"/>
         <xs:maxLength value="35"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="State">
      <xs:restriction base="xs:token">
         <xs:minLength value="1"/>
		 <xs:maxLength value="35"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="StateOrEmpty">
      <xs:restriction base="xs:token">
         <xs:minLength value="0"/>
		 <xs:maxLength value="35"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Postcode">
      <xs:restriction base="xs:token">
         <xs:minLength value="1"/>
		 <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="PostcodeOrEmpty">
      <xs:restriction base="xs:token">
         <xs:minLength value="0"/>
		 <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Country">
      <xs:restriction base="xs:token">
         <xs:minLength value="3"/>
		 <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Address">
      <xs:sequence>
         <xs:element name="addr" type="Addr" minOccurs="1"/>
         <xs:element name="suburb" type="Suburb" minOccurs="1"/>
         <xs:element name="state" type="State" minOccurs="1"/>
         <xs:element name="postcode" type="Postcode" minOccurs="1"/>
         <xs:element name="country" type="Country" minOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AddressBeneficiaryInstAndTransferee">
      <xs:sequence>
         <xs:element name="addr" type="Addr" minOccurs="1"/>
         <xs:element name="suburb" type="Suburb" minOccurs="1"/>
         <xs:element name="state" type="StateOrEmpty"/>
         <xs:element name="postcode" type="PostcodeOrEmpty"/>
         <xs:element name="country" type="Country" minOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>   
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AddressFirma">
      <xs:sequence>
         <xs:element name="addr" fixed="Level 5, 2 Bulletin Place" minOccurs="1"/>
         <xs:element name="suburb" fixed="Sydney" minOccurs="1"/>
         <xs:element name="state" fixed="NSW" minOccurs="1"/>
         <xs:element name="postcode" fixed="2000" minOccurs="1"/>
         <xs:element name="country" fixed="AUS" minOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AddressBasic">
      <xs:sequence>
         <xs:element name="addr" type="Addr" minOccurs="1"/>
         <xs:element name="suburb" type="Suburb" minOccurs="1"/>
         <xs:element name="state" type="State" minOccurs="1"/>
         <xs:element name="postcode" type="Postcode" minOccurs="1"/>
         <xs:element name="country" type="Country" minOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AddressAllOptional">
      <xs:sequence>
         <xs:element name="addr" type="Addr" minOccurs="0"/>
         <xs:element name="suburb" type="Suburb" minOccurs="0"/>
         <xs:element name="state" type="State" minOccurs="0"/>
         <xs:element name="postcode" type="Postcode" minOccurs="0"/>
         <xs:element name="country" type="Country" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AddressWithType">
      <xs:sequence>
         <xs:element name="type" type="AddrType"/>
         <xs:element name="addr" type="Addr"/>
         <xs:element name="suburb" type="Suburb" minOccurs="0"/>
         <xs:element name="state" type="State" minOccurs="0"/>
         <xs:element name="postcode" type="Postcode" minOccurs="0"/>
         <xs:element name="country" type="Country"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AddressNoCountry">
      <xs:sequence>
         <xs:element name="addr" type="Addr"/>
         <xs:element name="suburb" type="Suburb"/>
         <xs:element name="state" type="State"/>
         <xs:element name="postcode" type="Postcode"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AcctType">
      <xs:restriction base="xs:token">
         <xs:enumeration value="BETTING"/>
         <xs:enumeration value="BULLION"/>
         <xs:enumeration value="CHEQUE"/>
         <xs:enumeration value="CREDIT"/>
         <xs:enumeration value="CUSTODY"/>
         <xs:enumeration value="ECUR"/>
         <xs:enumeration value="FCUR"/>
         <xs:enumeration value="INS"/>
         <xs:enumeration value="INVEST"/>
         <xs:enumeration value="HIRE"/>
         <xs:enumeration value="LOAN"/>
         <xs:enumeration value="OTHER"/>
         <xs:enumeration value="PENSION"/>
         <xs:enumeration value="REMIT"/>
         <xs:enumeration value="RETIRE"/>
         <xs:enumeration value="VALCARD"/>
         <xs:enumeration value="SUPER"/>
         <xs:enumeration value="TRADE"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AcctOtherDesc">
      <xs:restriction base="xs:token">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AcctTitle">
      <xs:restriction base="xs:string">
         <xs:maxLength value="140"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AcctBSB">
      <xs:restriction base="xs:token">
         <xs:pattern value="[0-9]{6}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AcctNumber">
      <xs:restriction base="xs:token">
         <xs:minLength value="1"/>
		 <xs:maxLength value="34"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AccountOptBSB">
      <xs:sequence>
         <xs:element name="title" type="AcctTitle"/>
         <xs:element name="bsb" type="AcctBSB" minOccurs="0"/>
         <xs:element name="number" type="AcctNumber"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:element xmlns:xhtml="http://www.w3.org/1999/xhtml" name="accountOptBSB"
               type="AccountOptBSB"/>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AccountAllOptional">
      <xs:sequence>
         <xs:element name="title" type="AcctTitle" minOccurs="0"/>
         <xs:element name="bsb" type="AcctBSB" minOccurs="0"/>
         <xs:element name="number" type="AcctNumber" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:element xmlns:xhtml="http://www.w3.org/1999/xhtml" name="accountAllOptional"
               type="AccountAllOptional"/>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AccountNoBSB">
      <xs:sequence>
         <xs:element name="title" type="AcctTitle"/>
         <xs:element name="number" type="AcctNumber"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:element xmlns:xhtml="http://www.w3.org/1999/xhtml" name="accountNoBSB"
               type="AccountNoBSB"/>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AccountNoTitle">
      <xs:sequence>
         <xs:element name="bsb" type="AcctBSB" minOccurs="0"/>
         <xs:element name="number" type="AcctNumber"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AccountBrief">
      <xs:sequence>
         <xs:element name="bsb" type="AcctBSB" minOccurs="0"/>
         <xs:element name="number" type="AcctNumber" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:element xmlns:xhtml="http://www.w3.org/1999/xhtml" name="accountNoTitle"
               type="AccountNoTitle"/>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IdType">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="C"/>
         <xs:enumeration value="D"/>
         <xs:enumeration value="P"/>
         <xs:enumeration value="T"/>
         <xs:enumeration value="ARNU"/>
         <xs:enumeration value="CUST"/>
         <xs:enumeration value="BENE"/>
         <xs:enumeration value="BCNO"/>
         <xs:enumeration value="BUSR"/>
         <xs:enumeration value="EMID"/>
         <xs:enumeration value="EMPL"/>
         <xs:enumeration value="IDNT"/>
         <xs:enumeration value="MEMB"/>
         <xs:enumeration value="PHOT"/>
         <xs:enumeration value="SECU"/>
         <xs:enumeration value="SOSE"/>
         <xs:enumeration value="STUD"/>
         <xs:enumeration value="TXID"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IdTypeGovtIssued">
      <xs:restriction base="IdType">
         <xs:enumeration value="P"/>
         <xs:enumeration value="ARNU"/>
         <xs:enumeration value="BCNO"/>
         <xs:enumeration value="IDNT"/>
         <xs:enumeration value="SOSE"/>
         <xs:enumeration value="TXID"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IdNumber">
      <xs:restriction base="xs:token">
         <xs:minLength value="1"/>
		 <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IdIssuer">
      <xs:restriction base="xs:token">
         <xs:minLength value="1"/>
		 <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Identification">
      <xs:sequence>
         <xs:choice>
            <xs:element name="type" type="IdType"/>
            <xs:element name="typeOther">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:maxLength value="30"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
         </xs:choice>
         <xs:element name="number" type="IdNumber"/>
         <xs:element name="issuer" type="IdIssuer"/>
         <xs:element name="country" type="Country"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IdentificationMandatoryNumber">
      <xs:sequence>
         <xs:choice minOccurs="0">
            <xs:element name="type" type="IdType"/>
            <xs:element name="typeOther">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:maxLength value="30"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
         </xs:choice>
         <xs:element name="number" type="IdNumber"/>
         <xs:element name="issuer" type="IdIssuer" minOccurs="0"/>
         <xs:element name="country" type="Country" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IdentificationNoCountry">
      <xs:sequence>
         <xs:choice>
            <xs:element name="type" type="IdType"/>
            <xs:element name="typeOther">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:maxLength value="30"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:element>
         </xs:choice>
         <xs:element name="number" type="IdNumber" minOccurs="1"/>
         <xs:element name="issuer" type="IdIssuer" minOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="PhoneNum">
      <xs:restriction base="xs:token">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Email">
      <xs:restriction base="xs:token">
         <xs:maxLength value="250"/>
         <xs:pattern value=".{0}|[^@]+@[^@]+"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IndOccDesc">
      <xs:restriction base="xs:token">
         <xs:maxLength value="150"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IndOccType">
      <xs:restriction base="xs:token">
         <xs:enumeration value="I"/>
         <xs:enumeration value="M"/>
         <xs:enumeration value="O"/>
         <xs:enumeration value="S"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IndOccCode">
      <xs:restriction base="xs:token">
         <xs:pattern value="[0-9]{4}"/>
         <xs:pattern value="[0-9]{4}-?[0-9]{2}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="IndustryOccupation">
      <xs:choice>
         <xs:sequence>
            <xs:element name="type" type="IndOccType"/>
            <xs:element name="code" type="IndOccCode"/>
         </xs:sequence>
         <xs:element name="description" type="IndOccDesc"/>
      </xs:choice>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="ABN">
      <xs:restriction base="xs:token">
         <xs:pattern value="[0-9]{11}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="ACN">
      <xs:restriction base="xs:token">
         <xs:pattern value="[0-9]{9}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="ARBN">
      <xs:restriction base="xs:token">
         <xs:pattern value="[0-9]{9}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="CustNumber">
      <xs:restriction base="xs:token">
         <xs:maxLength value="35"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="BusinessStructure">
      <xs:restriction base="xs:token">
         <xs:enumeration value="A"/>
         <xs:enumeration value="C"/>
         <xs:enumeration value="G"/>
         <xs:enumeration value="P"/>
         <xs:enumeration value="R"/>
         <xs:enumeration value="T"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="ElectronicDataSource">
      <xs:restriction base="xs:token">
         <xs:minLength value="1"/>
		 <xs:maxLength value="70"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="PlaceOfBirth">
      <xs:sequence>
         <xs:element name="town" type="Suburb" minOccurs="0"/>
         <xs:element name="country" type="Country" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="DateNoTimeZone">
      <xs:restriction base="xs:date">
         <xs:pattern value="[0-9]{4}\-[0-9]{2}\-[0-9]{2}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AUSTRACDate">
      <xs:restriction base="DateNoTimeZone">
         <xs:minInclusive value="2000-01-01"/>
         <xs:maxInclusive value="2025-12-31"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="DateOfBirth">
      <xs:restriction base="DateNoTimeZone">
         <xs:minInclusive value="1900-01-01"/>
         <xs:maxInclusive value="2025-12-31"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="SMRDate">
      <xs:restriction base="DateNoTimeZone">
         <xs:minInclusive value="1800-01-01"/>
         <xs:maxInclusive value="2099-12-31"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="CurrencyCode">
      <xs:restriction base="xs:token">
         <xs:length value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="SignedAmount">
      <xs:restriction base="xs:token">
         <xs:pattern value="\-?[0-9]{1,15}([\.,][0-9]{0,2})?"/>
         <xs:pattern value="\-?[0-9]{1,3}(,[0-9]{3}){0,4}(\.[0-9]{0,2})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Amount">
      <xs:restriction base="SignedAmount">
         <xs:pattern value="[^\-].*"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="CurrencyAmount">
      <xs:sequence>
         <xs:element name="currency" type="CurrencyCode" minOccurs="1"/>
         <xs:element name="amount" type="Amount" minOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AudAmount">
      <xs:sequence>
         <xs:element name="currency" type="CurrencyCode" fixed="AUD"/>
         <xs:element name="amount" type="Amount"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="InstnCode">
      <xs:restriction base="xs:token">
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="InstnName">
      <xs:restriction base="xs:token">
         <xs:minLength value="1"/>
		 <xs:maxLength value="35"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="InstnCity">
      <xs:restriction base="xs:token">
		 <xs:minLength value="1"/>
         <xs:maxLength value="35"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="InstnCountry">
      <xs:restriction base="xs:token">
	     <xs:minLength value="3"/>
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="InstitutionFull">
      <xs:sequence>
         <xs:element name="code" type="InstnCode"/>
         <xs:element name="name" type="InstnName"/>
         <xs:element name="addr" type="Addr"/>
         <xs:element name="acctNumber" type="AcctNumber"/>         
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="InstitutionBrief">
      <xs:choice>
         <xs:element name="code" type="InstnCode"/>
         <xs:sequence>
            <xs:element name="name" type="InstnName" minOccurs="0"/>
            <xs:element name="city" type="InstnCity" minOccurs="0"/>
            <xs:element name="country" type="InstnCountry" minOccurs="0"/>
         </xs:sequence>
      </xs:choice>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="InstitutionWithAccount">
      <xs:sequence>
         <xs:element name="acctNumber" type="AcctNumber" minOccurs="1"/>
         <xs:element name="name" type="InstnName" minOccurs="1"/>
         <xs:element name="city" type="InstnCity" minOccurs="1"/>
         <xs:element name="country" type="InstnCountry" minOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="InstitutionWithBranch">
      <xs:sequence>
         <xs:element name="name" type="InstnName"/>
         <xs:element name="branch" type="BranchName"/>
         <xs:element name="country" type="InstnCountry" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="BranchId">
      <xs:restriction base="xs:token">
         <xs:maxLength value="35"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="BranchName">
      <xs:restriction base="xs:token">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Branch">
      <xs:sequence>
         <xs:element name="branchId" type="BranchId" minOccurs="0"/>
         <xs:element name="name" type="BranchName"/>
         <xs:element name="address" type="AddressNoCountry"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="BranchOptAddr">
      <xs:sequence>
         <xs:element name="branchId" type="BranchId" minOccurs="0"/>
         <xs:element name="name" type="BranchName"/>
         <xs:element name="address" type="AddressNoCountry" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="BranchOptCountry">
      <xs:sequence>
         <xs:element name="branchId" type="BranchId" minOccurs="0"/>
         <xs:element name="fullName" fixed="BranchName" minOccurs="1"/>
         <xs:element name="mainAddress" type="AddressBasic" minOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="BranchOptCountryFirma">
      <xs:sequence>         
         <xs:element name="fullName" fixed="FIRMA Foreign Exchange Corporation" minOccurs="1"/>
         <xs:element name="mainAddress" type="AddressFirma" minOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>   
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="AusBranch">
      <xs:sequence>
         <xs:choice minOccurs="0">
            <xs:element name="bsb" type="AcctBSB"/>
            <xs:element name="branchId" type="BranchId"/>
         </xs:choice>
         <xs:element name="name" type="BranchName" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Direction">
      <xs:restriction base="xs:token">
         <xs:enumeration value="O"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="TfrType">
      <xs:choice>
         <xs:element name="money" type="xs:token" fixed=""/>
         <xs:element name="property">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="desc">
                     <xs:simpleType>
                        <xs:restriction base="xs:token">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:choice>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="TRN">
      <xs:restriction base="xs:token">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="REReportRef">
      <xs:restriction base="xs:token">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="NonCashAmount">
      <xs:sequence>
         <xs:element name="amount" type="Amount"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="NonCashAmountCheque">
      <xs:sequence>
         <xs:element name="amount" type="Amount"/>
         <xs:element name="cheque" type="Cheque"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="NonCashAmountChequeOptional">
      <xs:sequence>
         <xs:element name="amount" type="Amount"/>
         <xs:element name="cheque" type="Cheque" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="NonCashAmountECurrency">
      <xs:sequence>
         <xs:element name="amount" type="Amount"/>
         <xs:element name="eCurrency" type="ECurrency"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="NonCashAmountOther">
      <xs:sequence>
         <xs:element name="amount" type="Amount"/>
         <xs:element name="desc" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:token">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="cheque" type="Cheque" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="DrawerName">
      <xs:restriction base="Name"/>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="PayeeName">
      <xs:restriction base="Name"/>
   </xs:simpleType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="Cheque">
      <xs:sequence>
         <xs:element name="drawerName" type="DrawerName"/>
         <xs:element name="payeeName" type="PayeeName"/>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="ECurrency">
      <xs:sequence>
         <xs:element name="description">
            <xs:simpleType>
               <xs:restriction base="xs:token">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="denomination" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="currencyDesc">
                     <xs:simpleType>
                        <xs:restriction base="xs:token">
                           <xs:maxLength value="35"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="amount" type="Amount"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="backingAsset" minOccurs="0">
            <xs:complexType>
               <xs:choice>
                  <xs:element name="assetType">
                     <xs:simpleType>
                        <xs:restriction base="xs:token">
                           <xs:enumeration value="B"/>
                           <xs:enumeration value="P"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
                  <xs:element name="otherDesc">
                     <xs:simpleType>
                        <xs:restriction base="xs:token">
                           <xs:maxLength value="20"/>
                        </xs:restriction>
                     </xs:simpleType>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attributeGroup ref="RequiredAttrs"/>
   </xs:complexType>
   <xs:complexType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="SameAsParty">
      <xs:attribute name="refId" type="xs:NCName" use="required"/>
   </xs:complexType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="ReasonForTransfer">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="DetailsOfPayment">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="SenderToReceiverInfo">
      <xs:restriction base="xs:string">
         <xs:maxLength value="210"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="OtherDetails">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType xmlns:xhtml="http://www.w3.org/1999/xhtml" name="YesNo">
      <xs:restriction base="xs:token">
         <xs:enumeration value="Y"/>
         <xs:enumeration value="N"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>